.main{
    background:#f7f8f8;
    color:#333;
    font-size:12px;
    padding:0px 25px;
    margin:0;
}
.dl-h,.upl-h{
    font-weight:bolder;
    padding:20px 0px;
    background: url(../../image/45.png) left center no-repeat;
    padding-left:20px;
}
.dl li{
    margin:20px 0;
}
.dl{
    border-bottom:1px solid #dfe0e0;
}
.upl {
    padding-bottom:20px;
}
.select-file{
    display:inline-block;
    width:70px;
    height:30px;
    background: url(../../image/word.png) 8px center no-repeat;
    background-color:#84c092;
    padding-left:30px;
    color:#fff;
    line-height:30px;
}
input.select-input{
    /*height:30px;
    margin-left:-4px;
    padding:0px;
    border:none;*/
    padding:4px 5px;
}
.select-i{
    padding-right:100px;
}
.select-f{
    padding-right:5px;
}